:root
{   
    --maincolor:#15202b;
    --secondarycolor:#192734;
     
    --maintext:#fff;
     
    --bordercolor:#164d56;
    --secondaryText:#eeeeee;

    --themeDotborder:#fff;

    --previewBG: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor:#17a2b8;

}