:root
{   
    --maincolor:#606b56;
    --secondarycolor:#515a48;
     
    --maintext:#fff;
     
    --bordercolor:#161914;
    --secondaryText:#eeeeee;

    --themeDotborder:#fff;

    --previewBG: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --buttonColor: #669966;

}